<div class="jumbotron">
  <h2>Get stuff done</h2>
    <p>Helpr is the marketplace for time. In no mood for a spring clean? Outsource your chores! Post tasks, name your price and have someone do them for you. Need some extra cash? Find tasks you can do and get paid.</p>
    <p>
    <%= link_to "Sign Up", "/users/new", "class" => 'btn btn-lg btn-primary' %>&nbsp;&nbsp;
    <%= link_to "Sign In", "/login", "class" => 'btn btn-lg btn-primary' %>
    </p>
</div>
